#mass1input {
    text-align: left;
    border-radius: 25px;
    border: 2px solid #1864ab;
    padding: 20px;
    width: 150px;
    height: 1px;
}

#mass2input {
    text-align: left;
    border-radius: 25px;
    border: 2px solid #5f3dc4;
    padding: 20px;
    width: 150px;
    height: 1px;
}